
/* Make sure that padding behaves as expected */
body{
	background-color: #181c1f;
}
@font-face {
    font-family: "My Custom Font";
    src: url(https://www.cufonfonts.com/font/brandon-grotesque-regular) format("truetype");
}
h1 {
	color: white;
	font-family: 'Arial', 'sans-serif';
	margin-left: 10px;
	text-align: center;
}
h2 {
	color: white;
	font-family: 'Arial', 'sans-serif';
	text-align: center;
}
p {
	font-family: 'Arial', 'sans-serif';
	color: black;
	margin-left: 10px;
}
a {
	color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease;
    font-size: 24px;
}
.nav{
	background-color: #202729;
}
.space {
	width: auto;
	height: 100px;
	float: right;
	margin: 10px;
  	-webkit-transition: -webkit-transform .8s ease-in-out;
          transition: transform .8s ease-in-out;
}
.space:hover {
	-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
img {
	width: 100%;
	height: auto;
}
a:hover {
    color: #3569a4;
    text-decoration: none;
}

* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 600px; /* Full width */
  background-color: #ddd; /* Grey background */
}
.flex-container{
	display: flex;
}
.flex-item {
	flex: 1;
	margin: 10px;
	text-align: center;
}
.gridcontainer{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: minmax(100px, auto);
}
.gridcontainer > div{
	background-color: white;
	padding: 10px;
}
.gridcontainer > div:nth-child(odd) {
	background-color: white;
}
	.box1 {
		margin: 20px;
	}
	.box2 {
		margin: 20px;
	}
	.box3 {
		margin: 20px;
	}	

.skills {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
}

.drie {width: 79px; background-color: green; font-family: 'Arial', 'sans-serif';} /* Green */
.vier {width: 300px; background-color: #3569a4; font-family: 'Arial', 'sans-serif';} /* Blue */
.vijf {width: 439px; background-color: purple; font-family: 'Arial', 'sans-serif';} /* Red */
.zes {width: 480px; background-color: #B22234; font-family: 'Arial', 'sans-serif';} /* Dark Grey */
.zeven {width: 427px; background-color: #ccac55; font-family: 'Arial', 'sans-serif';} /* Dark Grey */

#chart_div{
  width: 50%; 
  height: auto;
  padding: 10px;
}
#container3 {
  width: 98%;
  height: 250px;
}
.container1 {
	background-color: white;
}
.container2 {
	background-color: white;
}
.container3 {
	background-color: green;
}
/*https://www.highcharts.com/demo/line-basic*/

.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: minmax(100px, auto);
}

@media only screen and (max-width: 760px){
	.box1 {
		grid-column: 60%;
	}
	.box2 {
		grid-column: 40%;
	}
	.box3 {
		grid-column: 1/3;
	}	
	h2 {
		font-size: 35px;
		margin-left: 23%;
	}
	.space {
		display: none;
	}
	#chart_div {
		width: 20%;
		height: 18%;
	}
}
@media only screen and (max-width: 1000px){
	.box1 {
		grid-column: 1/3;
	}
	.box2 {
		grid-column: 1/3;
	}
	.box3 {
		grid-column: 1/3;
	}		
	h2{
		font-size: 40px;
	}
	.space {
		display: initial;
	}
	#chart_div {
		margin: auto;
	}
}
@media only screen and (max-width: 2600px){ 
	.box1 {
		grid-column: 60%;
	}
	.box2 {
		grid-column: 40%;
	}
	.box3 {
		grid-column: 1/3;
	}	
	#chart_div {
		margin: auto;
	}
}
